{% extends 'base.html' %}

{% block title %}Forum: {{ forum.name }}{% endblock %}

{% block content %}
    <h2>{{ forum.name }}</h2>
    <div class="thread-display">
        {% for thread in threads %}
            <div class="thread-item">   
                <a href="{{ url_for('threads.view_thread', forum_id=forum.id, thread_id=thread.id) }}">{{ thread.title }}</a>
            </div>
        {% else %}
            <li>No threads available in this forum.</li>
        {% endfor %}
    </div>
    <a href="{{ url_for('threads.create_thread', forum_id=forum.id) }}">Create a New Thread</a>
{% endblock %}
